*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
transparencia/
sigrid/
prueba/
opp/
normas/
mivivienda/
manual/
jefatura/
itsedocs/
galeria/
fiestas/
es/
dimse/
digepro/
difat/
dgp_old/
descargas/
data/
cpanel/
cgi-bin/
antecedentes/
administrator/
webmail/
.smileys/
wp-content/themes/cenepred/images/notaPrensa/
wp-content/themes/cenepred/images/funcionarios/
wp-content/themes/cenepred2015/
error_log
emergecy.php
license.txt
licencia.txt
.ftpquota
google*
Local CENEPRED*
ziTGNb17
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz




