
[class*="col"] {
    float: left;    
}

header.main {
	position: relative;
    display: block;
    overflow: hidden;
}
.left {
	float: left;
}
.bg-01 {
	background: #f3eeea;
}

header .logo{
	margin-left: 10%;
}

header .lema {
	background: url("../img/slogan_cenepred.png") no-repeat;
	text-indent: -99999px;
    display: block;
    width: 680px;
    text-align: center;
    margin-top: 70px;
    height: 41px;
    margin-left: 81px;
}
/*Social media*/
.social_media{
	position: absolute;
    right: 45px;
    top: 16px;
}
.social_media ul > li, .area ul > li a, .aplicaciones ul > li a {
	float: left;
}
.social_media ul > li a {
	text-indent: -9999px;
	width: 35px;
	height: 35px;
	display: block;	
}
.social_media ul > li a#tw {
	background: url("../img/twitter.png") no-repeat;
}
.social_media ul > li a#fb {
	background: url("../img/facebook.png") no-repeat;
}
.social_media ul > li a#yt {
	background: url("../img/youtube.png") no-repeat;
}
.social_media ul > li a#ml {
	background: url("../img/correo.png") no-repeat;
}
/*Filas*/
.row{}
.row:after {
	clear: both;
}

/*Areas*/
.area, .aplicaciones{
	position: relative;
    height: 200px;
}
.area h3, .aplicaciones h3{
	 margin-left: 71px;
}
.area h3, .aplicaciones h3,[class*="col"] h3{
	color: #0096ad;
    font-size: 15px;
    padding: 7px 5px;   
    text-transform: uppercase;
    font-weight: 500;
}
.area ul > li a, .aplicaciones ul > li a, .desta ul > li a {
	text-indent: -9999px;
	width: 320px;
	height: 160px;	
	display: block;		
}
.aplicaciones ul > li a, .desta ul > li a {		
	height: 105px;		
}
.area ul > li a, .aplicaciones ul > li a{
	margin-left: 71px;
}
.area ul > li a img, .aplicaciones ul > li a img, .desta ul > li a img {
	width: 317px;
	height: 159px;
}
.area ul > li a#btn-dpg {
	background: url("../img/btn-dgp.png") no-repeat;
}
.area ul > li a#btn-difat {
	background: url("../img/btn-difat.png") no-repeat;
}
.area ul > li a#btn-dimse {
	background: url("../img/btn-dimse.png") no-repeat;
}
/*Aplicaciones*/
.aplicaciones ul > li a#btn-sigrid {
	background: url("../img/btn-sigrid.png") no-repeat;
}
.aplicaciones ul > li a#btn-siide {
	background: url("../img/btn-siide.png") no-repeat;
}
.aplicaciones ul > li a#btn-simse {
	background: url("../img/btn-simse.png") no-repeat;
}
.aplicaciones ul > li a#btn-sigrid-collet {
	background: url("../img/btn-sigrid-collet.png") no-repeat;
}
.aplicaciones ul > li a#btn-biblioteca-virtual {
	background: url("../img/btn-biblioteca-virtual.png") no-repeat;
}
.aplicaciones ul > li a#btn-aula-virtual {
	background: url("../img/btn-aula-virtual.png") no-repeat;
}
/*Noticias y videos*/
.col-10 {	
	width: 70%;
}
.col-2 {
	width: 20%;
}
/*Destacados*/

.desta ul > li a#btn-esc-riesgo {
	background: url("../img/btn-esc-riesgo.png") no-repeat;
}
.desta ul > li a#btn-inspec-tec {
	background: url("../img/btn-inspec-tec.png") no-repeat;
}
.desta ul > li a#btn-convenios {
	background: url("../img/btn-convenios.png") no-repeat;
}
.desta ul > li a#btn-cal {
	background: url("../img/btn-cal.png") no-repeat;
}
